In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pob = pd.read_csv("https://raw.githubusercontent.com/edtrelo/COVID19Model/main/data/cleandata/pob_reg.csv", index_col = 0)

In [3]:
es = pd.read_csv("https://raw.githubusercontent.com/edtrelo/COVID19Model/main/data/cleandata/viajes/viajes_es_reg.csv",
                index_col = 0)

In [10]:
pob

            pop
region
0       3008837
1       5879492
2       3148490
3       4048695
4       1227385
5       3427753

In [11]:
sum(es.iloc[0])

4891995

In [9]:
es.sum(axis = 1)

region
0    4891995
1    8508719
2    6423928
3    9053850
4    1777171
5    4781097
dtype: int64